$body-color: black;
$link-color: #8F8FBC;
$link-hover-color: #5959AB;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $body-color;
}
body {
  overflow: auto;
  padding: 1rem;
}

a {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.root {
  width: 100%;
  height: 100%;
}
.page {
	background: $body-color;
  margin: 0 auto;
}
.pageTitle {
	font-size: 2rem;
	color: tan;
  padding: 1rem;
}