$nav-background: #40525e;
$nav-title: #D19275;

.nav {
	background-color: $nav-background;
	border-radius: 25px;
	margin: 2rem 0;
	padding: 1.5rem;
	display: flex;
	flex: 1 100%;
}
.nav-title > a,
.nav-title {
	font-size: 2.8rem;
	color: $nav-title;
	flex: 3;
}
.nav-title > a:hover{
	text-decoration: none;
}
.nav-links {
	float: right;
	flex: 2;
}
.nav-links > a{
	float: right;
	padding: 1rem;
	margin: 0 1rem;
	display: table-cell;
	vertical-align: middle;
}